
@colors: #28242b, #322d37, #545e71, #4c566a, #d5d9df, #ecd9d1, #ECEFF4, #8FBCBB, #88c0c0, #b88da0; // #664f7c;

@pb-primary:   #7a97e2;
@pb-secondary: #c0d7df;
@pb-tertiary:  #4ccdae; // function calls

@pb-primary-complement:   #a282dd;
@pb-secondary-complement: #955c82; // Strings
@pb-tertiary-complement:  #19f1bd;

@pb-info:     @pb-primary;
@pb-success:  @pb-secondary;
@pb-warning:  @pb-tertiary;
@pb-error:    #de8299;

@pb-black:    #5c4c67;
@pb-sub:      #6e5d7a;
@pb-dark:     #545e71; // Comments
@pb-gray:     #5e6a83; // Punctuation
@pb-punc:     #5e6a83; // Comments

@text:        #eff3fa;
@comment:     #545e71;
@string:      mix(#eff3fa, #545e71, 25%);

@static:      mix(@text, @pb-tertiary); // CSS classes & properties
@keyword:     mix(@text, @pb-tertiary);
@operator:    mix(@text, @pb-tertiary-complement);
@punctuation: @pb-punc;

@property:    mix(@entity, @pb-secondary);
@entity:      mix(@text, @pb-primary, 25%);
@function:    mix(@text, @pb-primary-complement, 25%);


@yello:     #ecd9d1;
@lite:      #e7ebf2;
@green:     #5694fa; // #62dd7d;
@purpl:     #b198c8; // #664f7c; // #b0a2c1; #b88da0;
