
@colors: #28242b, #322d37, #545e71, #4c566a, #d5d9df, #ecd9d1, #ECEFF4, #8FBCBB, #88c0c0, #664f7c;
@black:  extract(@colors, 1);
@sub:    extract(@colors, 2);
@dark:   extract(@colors, 3); // Comments
@gray:   extract(@colors, 4);
@text:   extract(@colors, 5);
@nord5:  extract(@colors, 6);
@nord6:  extract(@colors, 7);
@nord7:  extract(@colors, 8);
@nord8:  extract(@colors, 9);
@nord9:  extract(@colors, 10);
@primary:   #1e77e6;
@secondary: #ab7479;
@tertiary:  #62a195;
@primary-complement:   #3e91f9;
@secondary-complement: #cb8087;
@tertiary-complement:  #64c9b6;
